/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 300 2rem "Roboto"; 
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.header__logo-img {
  width: 100px;
  height: 50px;
}

.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header__nav-list {
  display: flex;
  list-style: none;
}

.header__nav-item {
  margin: 0 15px;
}

.header__nav-link {
  text-decoration: none;
  color: rgba(35, 35, 35, 0.8);
  font-size: 1.2rem;
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: #eb4034;
}

.header__icons {
  display: flex;
  align-items: center;
  padding: 10px;
}

.header__icon {
  margin-left: 20px;
  color: rgba(29, 27, 27, 0.8);
  font-size: 1.5rem;
  transition: color 0.3s;
}

.header__icon:hover {
  color: #eb4034;
}

.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
height: 56px;
border-radius: 100%;
}